.container {
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  background: #fff;
}

.center {
  text-align: center;
}

.player {
  color: #fc0;
  font-size: 30px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #141414;
}

h1 {
  display: inline-block;
}

.boxCountry {
  margin: 0 10px 0 0;
  padding: 0 10px;
  height: 26px;
  vertical-align: top;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  background: #fc0;
}

.before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  transform: skew(-10deg);
  background: #fc0;
  z-index: -1;
}

.canvas-angular {
  position: absolute;
  top: -30%;
  right: 5%;
}

.feature {
  color: #141414;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}


