<p>player works!</p>
<ul id="player">

  <ng-container *ngIf=" getPlayer()">
    <p>id : {{getPlayer().id}}</p>
    <p>age : {{getPlayer().age}}</p>
    <p>countryBirth : {{getPlayer().countryBirth}}</p>
    <p>height : {{getPlayer().height}}</p>
    <p>weight : {{getPlayer().weight}}</p>
    <p>speed : {{getPlayer().speed}}</p>
    <p>strength : {{getPlayer().strength}}</p>
    <p>endurance : {{getPlayer().endurance}}</p>
    <p>pace : {{getPlayer().pace}}</p>
    <p>accuaracy : {{getPlayer().accuaracy}}</p>
    <p>aceleration : {{getPlayer().aceleration}}</p>
    <p>username : {{getPlayer().username}}</p>
    <p>mail : {{getPlayer().email}}</p>



  </ng-container>

  <ng-container *ngFor="let tournament of getTournamentsByPlayer()">
    <p>tournamentName : {{tournament.name}}</p>
  </ng-container>

  <ng-container *ngFor="let team of getTeamsByPlayer()">
    <p>teamName : {{team.name}}</p>
  </ng-container>


  <h3 style="text-align:center;">Radar Chart</h3>
  <div style="display: block">
    <canvas baseChart
            [datasets]="getChartDataSets()"
            [labels]="getChartLabels()"
            [chartType]="getChartType()">


    </canvas>
  </div>





</ul>



