
<div class = "container">
  <div class = "row" style="padding-top:10%">
    <div class = "row">
      <ng-container *ngIf="getPlayer()">
        <span class="  p-3 mb-2 bg-warning text-white text-uppercase box  ">
          {{getPlayer().countryBirth}}
        </span>

        <span class="  userName " style="padding-top:30px" >
          {{getPlayer().user.name}}
        </span>
      </ng-container>
    </div>
    <div class = "row">
      <div class="col-sm " >
        <app-images [idPlayer]="getId()"></app-images>
        <ng-container *ngIf="getPlayer()" >
          <button *ngIf="showMailAndButton()"  (click)="fileInput.click()" type="button" class="btn btn-warning text-uppercase">Edit Image
          <input #fileInput type="file" [(ngModel)]="newImagePlayer" class="inputFileButton" (change)="changeImage(fileInput)">
          </button>
        </ng-container>


      </div>
      <div class="col-sm">
        <p-card  *ngIf="getPlayer()!=null" [style]="{width: '800px',padding:'2em 1.2em'}">

          <h2 class="text-warning" style="font-size:30px">Age</h2>
          <h6 class = "text-uppercase" style="font-size:15px">{{getPlayer().age}}</h6>
          <h2 class="text-warning" style="font-size:30px">Teams</h2>
          <ng-container *ngFor="let team of getTeamsByPlayer()">
            <h6 class = "text-uppercase" style="font-size:15px"> {{team.name}}</h6>
          </ng-container>
          <h2 class="text-warning"style="font-size:30px">Tournaments</h2>
          <ng-container *ngFor="let tournament of getTournamentsByPlayer()">
            <h6 class = "text-uppercase" style="font-size:15px" > {{tournament.name}}</h6>
          </ng-container>
          <h2  *ngIf="showMailAndButton()" class="text-warning" style="font-size:30px">Email</h2>
          <h6  *ngIf="showMailAndButton()" class = "text-uppercase" style="font-size:15px">{{getPlayer().user.mail}}</h6>
          <div class = "canvasPlayer" >
            <app-radar [idPlayer]="getId()" > </app-radar>
          </div>

        </p-card>
      </div>
    </div>
  </div>
</div>
