table {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  border-collapse: separate !important;
  border-bottom: 1px solid #f7f7f7 !important;
}

table:hover{
  border-bottom: 1px solid #fc0 !important;
  transition: all .5s;
}
table, th, caption {
  padding: 10px;
}
tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

td.center-text {
  text-align: center;
}


td.score {
  border-radius: 0.6em;
  background: black;
  color: white;
  text-align: center;
  width: 10%;
  margin: 0.25em .5em
}

td.team-name{
  padding: 0.5em;
  width: 30%;
  color: black;
}

td.col-space{
  width: 10%;
}

td.first-col-space{
  width: 5%;
}

.yellow-background {
  background: #fc0;
  border-radius: 12px;
}


.tournament {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fb6107;
  font-family: Montserrat, sans-serif;
  line-height: normal;
}

/*FlipIn X animation*/
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(900px);
    transform: perspective(900px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
a:hover{
  text-decoration: none !important;
}
