select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffa000;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.first {
  font-size: 40px;
  text-shadow: 4px 4px 5px #c6a900;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  line-height: 1.1;
}

.error {
  font-size: 20px;
}

.ui-accordion-header {
  display: block;
  margin-bottom: 20px !important;
  color: black;
}
.ui-state-active > a >span{
  color: white !important;
}
.ui-state-active > a {
  border: none !important;
}
#ui-accordiontab-0, #ui-accordiontab-1, #ui-accordiontab-2, #ui-accordiontab-3, #ui-accordiontab-4, #ui-accordiontab-5 {
  background: #c6a900;
  font-family: Poppins-Regular, sans-serif;
  padding: 20px !important;
  font-size: 24px;
  font-weight: 300;
  line-height: 41px;
}

#ui-accordiontab-3, #ui-accordiontab-4, #ui-accordiontab-5 {
  line-height: unset !important;
  padding: unset !important;
}

#ui-accordiontab-0:focus, #ui-accordiontab-1:focus, #ui-accordiontab-2:focus, #ui-accordiontab-3:focus, #ui-accordiontab-4:focus, #ui-accordiontab-5:focus {
  outline: none;
}

#ui-accordiontab-0:hover, #ui-accordiontab-1:hover, #ui-accordiontab-2:hover, #ui-accordiontab-3:hover, #ui-accordiontab-4:hover, #ui-accordiontab-5:hover {
  background: #e99f00;
}

.ui-accordion-toggle-icon {
  float: right;
  color: black !important;
}

.ui-accordion-header-text {
  color: black ;
}

.ui-accordion-content {
  margin-top: -20px;
  margin-bottom: 20px;
  border: none !important;
  background: rgb(236, 240, 241) !important;
}

h4 {
  margin-top: 0.5em !important;
  font-family: "Open Sans", sans-serif;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffa000;
  color: #000000;
}

label[for^=win] {
  margin-right: 1em;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 1.5em;
}
