
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="footer-left">
            <div class="wrap">
              <a class="foot-logo" href="/"><img alt="footer-logo" src="./assets/footer-logo.png"></a>
            </div>
          </div>
        </div>
        <div class=" col-lg-3 col-md-4 col-sm-12 col-lg-offset-1">
            <h4 class="text">Contact us</h4>
            <ul class="contact-list">
              <li><span class="text">URJC</span></li>
              <li>
                <a class="text" href="mailto:procesosoftg1@gmail.com">procesosoftg1@gmail.com</a>
              </li>
              <li>
                <span class="text">+34 583766284</span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  <app-header></app-header>

</footer>










