<!--
<h2>Tournaments</h2>
<div class="container">
  <mat-tab-group mat-stretch-tabs>
    <ng-container *ngFor="let tournament of getTournaments()">
      <ng-container *ngIf="tournament">
        <mat-tab label="{{tournament.name}}">
          <app-tournament-ranking [idFromParent]="tournament.id"></app-tournament-ranking>
        </mat-tab>
      </ng-container>
    </ng-container>
  </mat-tab-group>
  <div class="button-container">
    <button (click)="downloadPdf()" mat-button>Save PDF</button>
  </div>
</div>
-->
