<h2>Tournaments</h2>
<div class="container">
<mat-tab-group  mat-stretch-tabs>
  <ng-container *ngFor="let tournament of getTournaments()">
    <mat-tab label="{{tournament.name}}">
      <h1>{{tournament.name}}</h1>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a augue sit amet turpis laoreet aliquam. Sed
      efficitur libero eu mauris aliquet, quis tincidunt ipsum condimentum. Aliquam arcu lorem, bibendum nec aliquam
      vitae, dictum id dui. Pellentesque a diam fringilla, venenatis est sit amet, aliquam arcu. Duis non tempus ante.
      Proin vel leo odio. Morbi ligula erat, rutrum et maximus eget, convallis sit amet nibh. Maecenas eu nisl vitae
      enim iaculis maximus ut id eros.

      Proin semper in elit ac mattis. Praesent at pellentesque neque. Nam gravida, ipsum sed efficitur blandit, nisi
      elit pharetra purus, vel bibendum metus nunc a purus. Pellentesque habitant morbi tristique senectus et netus et
      malesuada fames ac turpis egestas. In ullamcorper massa a ante mollis feugiat. Sed vitae magna ultrices, ornare
      quam non, auctor felis. Vestibulum et scelerisque nibh. Cras mollis arcu eu dui aliquet, et feugiat metus mollis.
      Nulla ac arcu in lacus tincidunt pharetra. Praesent iaculis dolor neque, sed pulvinar orci eleifend egestas. Nunc
      gravida convallis enim, nec placerat arcu auctor ut. Nulla lobortis, mauris vel finibus ullamcorper, ipsum orci
      dignissim lectus, in dignissim diam eros vitae mauris. Maecenas quis mollis orci. Nam ut suscipit elit, sed
      eleifend libero.

      Quisque viverra, neque eu consectetur porta, risus enim lacinia justo, nec ullamcorper tortor arcu eget mauris.
      Sed ac ipsum faucibus, gravida leo eu, egestas quam. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Fusce sagittis libero nec elit auctor, a condimentum enim ullamcorper. Nam
      efficitur tellus erat, vel ullamcorper mauris mollis a. Sed dui mi, vulputate sed mauris vitae, consectetur
      ultrices sem. Curabitur ultricies mi nec egestas eleifend. Integer ante nisl, aliquam quis pharetra vitae, dapibus
      eget ipsum.

      Donec rhoncus mauris sed ipsum condimentum ullamcorper. Etiam at nunc nibh. Fusce vitae sagittis mi, a imperdiet
      mi. Nunc nibh lectus, sollicitudin a dui id, lobortis convallis eros. Etiam volutpat ante a nulla porta vulputate.
      Suspendisse ac urna eget arcu elementum lacinia. Donec sed leo placerat, aliquet quam auctor, bibendum nibh.

      Nam placerat viverra euismod. Curabitur sollicitudin efficitur tellus, non vestibulum libero egestas ut. Duis
      augue enim, vestibulum quis condimentum eget, fermentum id mauris. Suspendisse fringilla suscipit velit a semper.
      Mauris augue arcu, varius in odio et, luctus mollis odio. Nunc sit amet velit sagittis, aliquam nibh sed, ultrices
      ante. Sed rhoncus sodales ipsum, nec aliquam neque rhoncus non. Quisque at turpis mattis, interdum magna quis,
      tempor tellus. Morbi imperdiet interdum odio, a consequat orci fermentum et. Proin pulvinar est a velit iaculis, a
      dapibus diam eleifend. Mauris turpis ligula, suscipit eu turpis non, dignissim finibus eros. Praesent mi metus,
      ultrices vel tincidunt sit amet, convallis vitae nunc.
    </mat-tab>
  </ng-container>
</mat-tab-group>
</div>
