.ui-tabview-nav{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  color: #141414;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}
.ui-tabview-nav > li{
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
}
.ui-tabview-nav > li:focus{
  outline: none !important;
}

.ui-tabview-panels{
  border:  none !important;
}
.ui-tabview-selected > a > span{
  font-size: 14px !important;
  color: #141414 !important;
  font-family: Montserrat, sans-serif !important;
  text-transform: uppercase !important;
  border-bottom: 5px solid rgb(255, 160, 0);
}
