.container {
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.mat-tab-group {
  align-content: center;
  width: 100%;
}

.mat-tab-label {
  font-size: 14px;
  color: #141414;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: rgb(255, 160, 0);
  height: 5px;
}

.mat-tab-header {
  padding-bottom: 20px;
}

.mat-button {
  background: rgb(255, 160, 0);
  color: black;
  text-align: center;
}

span.mat-button-wrapper {
  padding: 2em;
}

.button-container {
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}
