h3 {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #141414;
}

.register-button {
  border-radius: 9px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif
}

#image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
