<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Padel Versus</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900"
          rel="stylesheet"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/library/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/preloader-default.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/demo-switcher.css" rel="stylesheet" type="text/css"/>
    <link href="/css-min/soccer.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>

<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>


<!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a class="custom-logo-link">
            <img src="/images/soccer/logo.png" alt="logo" class="custom-logo" href="index.html">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li class="active">
                        <a href="index.html"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="matches.html"><span>Matches</span></a>
                        <ul>
                            <li>
                                <a href="standing-cup.html"><span>Standings</span></a>
                            </li>
                            <li>
                                <a href="Tournaments.html"><span>Championship</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="teams.html"><span>Teams</span></a>
                    </li>
                    <li><a href="Tournaments.html"><span>Ranking</span></a></li>
                    <li><a href="calendar.html"><span>Calendar</span></a></li>

                    <li><a href="RegistrationForm.html"><span>Registration Tournament</span></a></li>
                    <li>
                        <a href="coming-soon.html"><span>other</span></a>
                        <ul>
                            <li><a href="404.html"><span>404</span></a></li>
                            <li><a href="offline.html"><span>offline</span></a></li>
                            <li><a href="coming-soon.html"><span>comming soon</span></a></li>

                        </ul>
                    </li>
                    <li><a href="logIn.html"><span>LOG IN</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->


<div class="container" style="padding-top :3%">
    <div>
        <div class="form-group">
            <div id="container-main">
                <h1>Admin Page:</h1>
                <div class="accordion-container">
                    <a href="#" class="accordion-titulo">Add New Matches<span class="toggle-icon"></span></a>
                    <div class="accordion-content">
                        <form class="login100-form" action="/saveMatch" method="post">
                            <div class="form-group col-md-offset-2">
                                <label for="torneoSeleccionado">Chose Tournament</label>
                                <select class="form-control" name="torneoSeleccionado" id="torneoSeleccionado"
                                        style="width: 75%">
                                    <option value="" selected="selected"></option>
                                    {{#tournament-list}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/tournament-list}}
                                </select>
                                <div id="selectTeam1">
                                    <label for="blankSelect">Chose Team 1</label>
                                    <select class="form-control" name="t1" id="blankSelect"
                                            style="width: 75%">
                                    </select>
                                    {{#tournament-list}}
                                    <select class="form-control dontShow" name="t1_oficial" id="t1{{nonspacename}}"
                                            style="width: 75%">
                                        <option value="" selected="selected"></option>
                                        {{#teams}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/teams}}
                                    </select>
                                    {{/tournament-list}}
                                </div>
                                <div id="selectTeam2">
                                    <label for="blankSelect">Chose Team 2</label>
                                    <select class="form-control" name="t2" id="blankSelect1"
                                            style="width: 75%">
                                    </select>
                                    {{#tournament-list}}
                                    <select class="form-control dontShow" name="t2_oficial" id="t2{{nonspacename}}"
                                            style="width: 75%">
                                        <option value="" selected="selected"></option>
                                        {{#teams}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/teams}}
                                    </select>
                                    {{/tournament-list}}
                                </div>

                                <label for="date">Chose Date:</label>
                                <input type="date" id="date" name="date">
                                <button type="submit" class="btn btn-primary" id="saveMatch">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="accordion-container">
                    <a href="#" class="accordion-titulo">Add Matches Results<span class="toggle-icon"></span></a>
                    <div class="accordion-content">
                        <form class="login100-form validate-form" action="/saveDataMatch" method="post">
                            <div class="form-group col-md-offset-2">
                                <label for="matchSelect">Chose Match</label>
                                <select class="form-control" name="matchSelect" id="matchSelect"
                                        style="width: 75%">
                                    <option value="" selected="selected"></option>
                                    {{#match-list}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/match-list}}
                                </select>
                                <label for="team1Stats">Stadistics Team 1:</label>
                                <div id="team1Stats">
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Accuracy is accuracy" >
                                        <span class="label-input100 ">Accuracy:</span>
                                        <input class="input100 form-control" type="number" name="accuracy1" id="accuracy1" placeholder="Type your accuracy" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Effectiveness is required" >
                                        <span class="label-input100 ">Effectiveness:</span>
                                        <input class="input100 form-control" type="number" name="effectiveness1" id="effectiveness1" placeholder="Type your effectiveness" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Games_wins is required" >
                                        <span class="label-input100 ">Games_wins:</span>
                                        <input class="input100 form-control" type="number" name="games_wins1" id="games_wins1" placeholder="Type your games_wins" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Unforced Errors is required" >
                                        <span class="label-input100 ">Unforced Errors:</span>
                                        <input class="input100 form-control" type="number" name="unforcedErrors1" id="unforcedErrors1" placeholder="Type your unforced Errors" min="0" max="100">

                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 1 is required" >
                                        <span class="label-input100 ">Set 1:</span>
                                        <input class="input100 form-control" type="number" name="set1team1" id="set1team1" placeholder="Type set 1" min="0" max="7">

                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 2 is required" >
                                        <span class="label-input100 ">Set 2:</span>
                                        <input class="input100 form-control" type="number" name="set2team1" id="set2team1" placeholder="Type set 2" min="0" max="7">

                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 3 is required" >
                                        <span class="label-input100 ">Set 3: (-1 if not played)</span>
                                        <input class="input100 form-control" type="number" name="set3team1" id="set3team1" placeholder="Type set 3" min="-1" max="7">
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Win" >
                                        <input type="checkbox" name="win1" id="win1">
                                        <label for="win1">Win the match</label>
                                    </div>
                                </div>
                                <label for="team2Stats">Stadistics Team 2:</label>
                                <div id="team2Stats">
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Accuracy is accuracy" >
                                        <span class="label-input100 ">Accuracy:</span>
                                        <input class="input100 form-control" type="number" name="accuracy2" id="accuracy2" placeholder="Type your accuracy" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Effectiveness is required" >
                                        <span class="label-input100 ">Effectiveness:</span>
                                        <input class="input100 form-control" type="number" name="effectiveness2" id="effectiveness2" placeholder="Type your effectiveness" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Games_wins is required" >
                                        <span class="label-input100 ">Games_wins:</span>
                                        <input class="input100 form-control" type="number" name="games_wins2" id="games_wins2" placeholder="Type your games_wins" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Unforced Errors is required" >
                                        <span class="label-input100 ">Unforced Errors:</span>
                                        <input class="input100 form-control" type="number" name="unforcedErrors2" id="unforcedErrors2" placeholder="Type your unforced Errors" min="0" max="100">

                                    </div>

                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 1 is required" >
                                        <span class="label-input100 ">Set 1:</span>
                                        <input class="input100 form-control" type="number" name="set1team2" id="set1team2" placeholder="Type set 1" min="0" max="7">
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 2 is required" >
                                        <span class="label-input100 ">Set 2:</span>
                                        <input class="input100 form-control" type="number" name="set2team2" id="set2team2" placeholder="Type set 2" min="0" max="7">
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Set 3 is required" >
                                        <span class="label-input100 ">Set 3: (-1 if not played)</span>
                                        <input class="input100 form-control" type="number" name="set3team2" id="set3team2" placeholder="Type set 3" min="-1" max="7">
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" data-validate="Win" >
                                        <input type="checkbox" name="win2" id="win2">
                                        <label for="win1">Win the match</label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary p-t-16" id="saveStatMatch">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="accordion-container">
                    <a href="#" class="accordion-titulo">Add New Tournament:<span class="toggle-icon"></span></a>
                    <div class="accordion-content">
                        <form class="login100-form" action="/savetournament" method="post">
                            <div class="form-group col-md-offset-2">
                                <label for="newTournament">Tournament Name:</label>
                                <input type="text" id = "newTournament" name="name">
                                <!--<select class="form-control" name="newTournament" id="torneoSeleccionado"
                                        style="width: 75%">
                                    <option value="" selected="selected"></option>
                                    {{#tournament-list}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/tournament-list}}
                                </select>
                                <div id="selectTeam1">
                                    <label for="blankSelect">Chose Team 1</label>
                                    <select class="form-control" name="t1" id="blankSelect"
                                            style="width: 75%">
                                    </select>
                                    {{#tournament-list}}
                                    <select class="form-control dontShow" name="t1_oficial" id="t1{{nonspacename}}"
                                            style="width: 75%">
                                        <option value="" selected="selected"></option>
                                        {{#teams}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/teams}}
                                    </select>
                                    {{/tournament-list}}
                                </div>
                                <div id="selectTeam2">
                                    <label for="blankSelect">Chose Team 2</label>
                                    <select class="form-control" name="t2" id="blankSelect1"
                                            style="width: 75%">
                                    </select>
                                    {{#tournament-list}}
                                    <select class="form-control dontShow" name="t2_oficial" id="t2{{nonspacename}}"
                                            style="width: 75%">
                                        <option value="" selected="selected"></option>
                                        {{#teams}}
                                        <option value="{{name}}">{{name}}</option>
                                        {{/teams}}
                                    </select>
                                    {{/tournament-list}}
                                </div>

                                <label for="date">Chose Date:</label>
                                <input type="date" id="date" name="date">-->
                                <button type="submit" class="btn btn-primary" id="savetournament">Save</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


    </div>


</div>



<!--FOOTER BEGIN-->
<footer class="footer">
    <div class="wrapper-overfllow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-left">
                        <div class="wrap">
                            <a href="index.html" class="foot-logo"><img src="/images/soccer/footer-logo.png"
                                                                        alt="footer-logo"></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-offset-1">
                    <div class="foot-news">
                        <h4>Recent news</h4>
                        <div class="item">
                            <a class="image"><img class="img-responsive" src="/images/padel.jpg" alt="news-image"></a>
                            <a class="date">25 Sep 2016</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4 col-sm-12">
                    <div class="foot-contact">
                        <h4>Contact us</h4>
                        <ul class="contact-list">
                            <li><i class="fa fa-flag" aria-hidden="true"></i><span>URJC</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">padelversus@email.com</a>
                            </li>
                            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+34 583766284</span>
                            </li>
                        </ul>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu-wrap">
        <div class="container">
            <ul class="main-menu nav">
                <li class="active">
                    <a href="index.html"><span>Home</span></a>
                </li>
                <li>
                    <a href="matches.html"><span>Matches</span></a>
                </li>
                <li>
                    <a href="teams.html"><span>Team</span></a>
                </li>
                <li><a href="Tournaments.html"><span>Ranking</span></a></li>
                <li><a href="calendar.html"><span>Calendar</span></a></li>
                <li><a href="RegistrationForm.html"><span>Registration Tournament</span></a></li>
                <li><a href="logIn.html"><span>LOG IN</span></a></li>
            </ul>


        </div>
    </div>

</footer>
<!--FOOTER END-->->
<script type="text/javascript" src="/js/seccion.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/library/jquery.js"></script>
<script type="text/javascript" src="/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="/js/library/bootstrap.js"></script>
<script type="text/javascript" src="/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="/js/library/progressbar.js"></script>
<script type="text/javascript" src="/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="/js/library/chartist.js"></script>
<script type="text/javascript" src="/js/library/Chart.js"></script>
<script type="text/javascript" src="/js/library/fancySelect.js"></script>
<script type="text/javascript" src="/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="/js/library/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="/js/matches-slider.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="/js/news-line.js"></script>
<script type="text/javascript" src="/js/match_galery.js"></script>
<script type="text/javascript" src="/js/main-club-gallery.js"></script>
<script type="text/javascript" src="/js/product-slider.js"></script>
<script type="text/javascript" src="/js/circle-bar.js"></script>
<script type="text/javascript" src="/js/standings.js"></script>
<script type="text/javascript" src="/js/shop-price-filter.js"></script>
<script type="text/javascript" src="/js/timeseries.js"></script>
<script type="text/javascript" src="/js/radar.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/preloader.js"></script>
<script type="text/javascript" src="/js/diagram.js"></script>
<script type="text/javascript" src="/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="/js/donut-chart.js"></script>
<script type="text/javascript" src="/js/animate-donut.js"></script>
<script type="text/javascript" src="/js/advanced-smil.js"></script>
<script type="text/javascript" src="/js/svg-path.js"></script>
<script type="text/javascript" src="/js/pick-circle.js"></script>
<script type="text/javascript" src="/js/horizontal-bar.js"></script>
<script type="text/javascript" src="/js/gauge-chart.js"></script>
<script type="text/javascript" src="/js/stacked-bar.js"></script>

<script type="text/javascript" src="/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-pointlabels.js"></script>

<script type="text/javascript" src="/js/treshold.js"></script>
<script type="text/javascript" src="/js/visible.js"></script>
<script type="text/javascript" src="/js/anchor.js"></script>
<script type="text/javascript" src="/js/landing_carousel.js"></script>
<script type="text/javascript" src="/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="/js/twitterslider.js"></script>
<script type="text/javascript" src="/js/champions.js"></script>
<script type="text/javascript" src="/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/video_slider.js"></script>
<script type="text/javascript" src="/js/footer_slides.js"></script>
<script type="text/javascript" src="/js/player_test.js"></script>

<script type="text/javascript" src="/js/main.js"></script>


<script type="text/javascript" src="/dev-assets/demo-switcher.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</body>
</html>