<!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a class="custom-logo-link">
            <img src="/images/soccer/logo.png" alt="logo" class="custom-logo" href="index.html">
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li class="active">
                        <a href="index.html"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="/player/matches"><span>Matches</span></a>
                        <ul>
                            <li>
                                <a href="standing-cup.html"><span>Standings</span></a>
                            </li>
                            <li>
                                <a href="Tournaments.html"><span>Championship</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="teams.html"><span>Teams</span></a>
                    </li>
                    <li><a href="Tournaments.html"><span>Ranking</span></a></li>
                    <li><a href="calendar.html"><span>Calendar</span></a></li>

                    <li><a href="RegistrationForm.html"><span>Registration Tournament</span></a></li>
                    <li>
                        <a href="coming-soon.html"><span>other</span></a>
                        <ul>
                            <li><a href="404.html"><span>404</span></a></li>
                            <li><a href="offline.html"><span>offline</span></a></li>
                            <li><a href="coming-soon.html"><span>comming soon</span></a></li>

                        </ul>
                    </li>
                    <li><a href="logIn.html"><span>LOG IN</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->