<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Team HTML</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/dev-assets/preloader-default.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/demo-switcher.css" rel="stylesheet" type="text/css"/>

    <link href="/css/cssOverView/bootstrap.css" rel="stylesheet">
    <link href="/css/cssOverView/font-awesome.css" rel="stylesheet">
    <link href="/css/cssOverView/flaticon.css" rel="stylesheet">
    <link href="/css/cssOverView/slick-slider.css" rel="stylesheet">
    <link href="/css/cssOverView/fancybox.css" rel="stylesheet">
    <link href="/css/cssOverView/style.css" rel="stylesheet">
    <link href="/css/cssOverView/color.css" rel="stylesheet">
    <link href="/css/cssOverView/responsive.css" rel="stylesheet">
    <link href="/css-min/soccer.min.css" rel="stylesheet" type="text/css" />

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<body>

<div class="preloader-wrapper" id="preloader">
    <div class="motion-line dark-big"></div>
    <div class="motion-line yellow-big"></div>
    <div class="motion-line dark-small"></div>
    <div class="motion-line yellow-normal"></div>
    <div class="motion-line yellow-small1"></div>
    <div class="motion-line yellow-small2"></div>
</div>



    <!--MAIN MENU WRAP BEGIN-->
<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a  class="custom-logo-link"><img src="/images/soccer/logo.png" alt="logo" class="custom-logo"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">
                    <li class="active">
                        <a href="index.html"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="matches.html"><span>Matches</span></a>
                        <ul>
                            <li>
                                <a href="standing-cup.html"><span>Standings</span></a>
                            </li>
                            <li>
                                <a href="Tournaments.html"><span>Championship</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="teams.html"><span>Teams</span></a>
                    </li>
                    <li><a href="Tournaments.html"><span>Ranking</span></a></li>
                    <li><a href="calendar.html"><span>Calendar</span></a></li>

                    <li><a href="RegistrationForm.html"><span>Registration Tournament</span></a></li>
                    <li>
                        <a href="coming-soon.html"><span>other</span></a>
                        <ul>
                            <li><a href="404.html"><span>404</span></a></li>
                            <li><a href="offline.html"><span>offline</span></a></li>
                            <li><a href="coming-soon.html"><span>comming soon</span></a></li>

                        </ul>
                    </li>
                    <li><a href="logIn.html"><span>LOG IN</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--MAIN MENU WRAP END-->



<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index-2.html">Main</a>/</li>
                            <li>Partido</li>
                        </ul>
                        <h1>Match statistics</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">
        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section sportsmagazine-overview-full">
            <div class="container">
                <div class="row">

                    <div class="col-md-9">
                        <div class="sportsmagazine-overview">
                            <div class="sportsmagazine-overview-wrap">
                                <div class="sportsmagazine-overview-team-one">
                                    <figure><img src="/images/soccer/team-logo2.png" alt=""></figure>
                                    <section>
                                        <h4><a href="fixture-detail.html">{{team_1}}</a></h4>
                                        <span>URJC</span>
                                    </section>
                                </div>
                                <div class="sportsmagazine-overview-score">
                                    <h5>Partido numero {{id}}</h5>
                                    <time datetime="{{date}}">{{date}}</time>
                                    <h5>Score</h5>
                                    <span>{{score_t1}}<small>:</small>{{score_t2}}</span>
                                </div>
                                <div class="sportsmagazine-overview-team-two">
                                    <figure><img src="/images/soccer/team-logo3.png" alt=""></figure>
                                    <section>
                                        <h4><a href="fixture-detail.html">{{team_2}}</a></h4>
                                        <span>URJC</span>
                                    </section>
                                </div>
                            </div>
                            <div class="sportsmagazine-gamestats">
                                <div class="sportsmagazine-overview-scorecard">
                                    <ul class="scorecard-head">
                                        <li><h6>Sets</h6></li>
                                        {{#number-sets}}
                                        <li>{{.}}</li>
                                        {{/number-sets}}
                                    </ul>
                                    <ul>
                                        <li><h6>{{team_1}}</h6></li>
                                        {{#games-t1}}
                                        <li>{{.}}</li>
                                        {{/games-t1}}
                                    </ul>
                                    <ul class="border-none">
                                        <li><h6>{{team_2}}</h6></li>
                                        {{#games-t2}}
                                        <li>{{.}}</li>
                                        {{/games-t2}}
                                    </ul>
                                </div>
                            </div>
                            <span class="sportsmagazine-gamestats-btn">Match Statistics</span>
                            <div class="sportsmagazine-overview-skillbar">
                                <div class="skillst">
                                    <h6>Shoot Accuracy</h6>
                                    <span>{{accuracy_1}}%</span>
                                    <div class="progressbar1" data-width="{{accuracy_1}}" data-target="{{accuracy_1}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Shoot Accuracy</h6>
                                    <span>{{accuracy_2}}%</span>
                                    <div class="progressbar1" data-width="{{accuracy_2}}" data-target="{{accuracy_2}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Effectiveness</h6>
                                    <span>{{effectiveness_1}}%</span>
                                    <div class="progressbar1" data-width="{{effectiveness_1}}" data-target="{{effectiveness_1}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Effectiveness</h6>
                                    <span>{{effectiveness_2}}%</span>
                                    <div class="progressbar1" data-width="{{effectiveness_2}}" data-target="{{effectiveness_2}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Wins</h6>
                                    <span>{{wins_1}}%</span>
                                    <div class="progressbar1" data-width="{{wins_1}}" data-target="{{wins_1}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Wins</h6>
                                    <span>{{wins_2}}%</span>
                                    <div class="progressbar1" data-width="{{wins_2}}" data-target="{{wins_2}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Unforced Errors</h6>
                                    <span>{{unferrors_1}}%</span>
                                    <div class="progressbar1" data-width="{{unferrors_1}}" data-target="{{unferrors_1}}"></div>
                                </div>
                                <div class="skillst">
                                    <h6>Unforced Errors</h6>
                                    <span>{{unferrors_2}}%</span>
                                    <div class="progressbar1" data-width="{{unferrors_2}}" data-target="{{unferrors_2}}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->
    </div>
    <!--// Main Content \\-->

    <div class="clearfix"></div>



<!--PLAYER SINGLE WRAP END-->

<section >




    <!--FOOTER BEGIN-->
<footer class="footer">
    <div class="wrapper-overfllow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-left">
                        <div class="wrap">
                            <a href="index.html" class="foot-logo"><img src="/images/soccer/footer-logo.png" alt="footer-logo"></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-offset-1">
                    <div class="foot-news">
                        <h4>Recent news</h4>
                        <div class="item">
                            <a class="image"><img class="img-responsive" src="/images/padel.jpg" alt="news-image"></a>
                            <a class="date">25 Sep 2016</a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4 col-sm-12">
                    <div class="foot-contact">
                        <h4>Contact us</h4>
                        <ul class="contact-list">
                            <li><i class="fa fa-flag" aria-hidden="true"></i><span>URJC</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">padelversus@email.com</a></li>
                            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+34 583766284</span></li>
                        </ul>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu-wrap">
        <div class="container">
                   <ul class="main-menu nav">
                        <li class="active">
                            <a href="index.html"><span>Home</span></a>
                        </li>
                        <li>
                            <a href="matches.html"><span>Matches</span></a>
                        </li>
                        <li>
                            <a href="teams.html"><span>Team</span></a>
                        </li>
                        <li><a href="Tournaments.html"><span>Ranking</span></a></li>
                        <li><a href="calendar.html"><span>Calendar</span></a></li>
                        <li><a href="RegistrationForm.html"><span>Registration Tournament</span></a></li>
                        <li><a href="logIn.html"><span>LOG IN</span></a></li>
                    </ul>


        </div>
    </div>

</footer>
<!--FOOTER END-->
</section>
<script type="text/javascript" src="/js/library/jquery.js"></script>
<script type="text/javascript" src="/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="/js/library/bootstrap.js"></script>
<script type="text/javascript" src="/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="/js/library/progressbar.js"></script>
<script type="text/javascript" src="/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="/js/library/chartist.js"></script>
<script type="text/javascript" src="/js/library/Chart.js"></script>
<script type="text/javascript" src="/js/library/fancySelect.js"></script>
<script type="text/javascript" src="/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="/js/library/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="/js/matches-slider.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="/js/news-line.js"></script>
<script type="text/javascript" src="/js/match_galery.js"></script>
<script type="text/javascript" src="/js/main-club-gallery.js"></script>
<script type="text/javascript" src="/js/product-slider.js"></script>
<script type="text/javascript" src="/js/circle-bar.js"></script>
<script type="text/javascript" src="/js/standings.js"></script>
<script type="text/javascript" src="/js/shop-price-filter.js"></script>
<script type="text/javascript" src="/js/timeseries.js"></script>
<script type="text/javascript" src="/js/radar.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/preloader.js"></script>
<script type="text/javascript" src="/js/diagram.js"></script>
<script type="text/javascript" src="/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="/js/donut-chart.js"></script>
<script type="text/javascript" src="/js/animate-donut.js"></script>
<script type="text/javascript" src="/js/advanced-smil.js"></script>
<script type="text/javascript" src="/js/svg-path.js"></script>
<script type="text/javascript" src="/js/pick-circle.js"></script>
<script type="text/javascript" src="/js/horizontal-bar.js"></script>
<script type="text/javascript" src="/js/gauge-chart.js"></script>
<script type="text/javascript" src="/js/stacked-bar.js"></script>

<script type="text/javascript" src="/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-pointlabels.js"></script>

<script type="text/javascript" src="/js/treshold.js"></script>
<script type="text/javascript" src="/js/visible.js"></script>
<script type="text/javascript" src="/js/anchor.js"></script>
<script type="text/javascript" src="/js/landing_carousel.js"></script>
<script type="text/javascript" src="/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="/js/twitterslider.js"></script>
<script type="text/javascript" src="/js/champions.js"></script>
<script type="text/javascript" src="/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/video_slider.js"></script>
<script type="text/javascript" src="/js/footer_slides.js"></script>
<script type="text/javascript" src="/js/player_test.js"></script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/script/jquery.js"></script>
<script type="text/javascript" src="/js/script/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script/slick.slider.min.js"></script>
<script type="text/javascript" src="/js/script/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/js/script/fancybox.pack.js"></script>
<script type="text/javascript" src="/js/script/isotope.min.js"></script>
<script type="text/javascript" src="/js/script/progressbar.js"></script>
<script type="text/javascript" src="/js/script/counter.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="/js/script/functions.js"></script>


<script type="text/javascript" src="/dev-assets/demo-switcher.js"></script>
</body>

</html>
