<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Padel Versus</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900"
          rel="stylesheet"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/library/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/preloader-default.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/demo-switcher.css" rel="stylesheet" type="text/css"/>
    <link href="/css-min/soccer.min.css" rel="stylesheet" type="text/css"/>
    <!--

    Enable one styles which the you want


    <link href="css-min/hockey.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/basketball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/football.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/baseball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/dota.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/csgo.min.css" rel="stylesheet" type="text/css" />

    All libraries included in this css, concating rules in /grunt/cssmin.js
    Use grunt default task for creating this files

    -->
</head>

<body>
{{> preloadEffect}}


{{> menu}}


<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index.html">Main</a>/</li>
                            <li>Player</li>
                        </ul>
                        <h1>Player</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--PLAYER SINGLE WRAP BEGIN-->

<section class="player-single-wrap">

    <!--PLAYER INFO BEGIN-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="captain-bage">{{country}}</div>
                <h4 class="player-name">{{name}}</h4>
            </div>
            <div class="col-md-3">
                <div class="player-photo">
                    <img class="img-responsive" src="{{image}}" alt="player">
                    <form method ="get" action="/player/editProfile">
                        <button type="submit" class="btn btn-primary">Edit image</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="player-hockey-wrap">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <div class="stats">
                                <p class="number">Age</p>
                                <p class="name">{{age}}</p>

                                <p class="number">Teams</p>
                                {{#is_in_team}}
                                <p class="name">
                                    {{#namesTeams}}
                                    <span class="">{{name}}</span>
                                    <br>
                                    {{/namesTeams}}
                                </p>
                                {{/is_in_team}}

                                <p class="number">Tournaments</p>
                                {{#is_in_tournament}}
                                <p class="name">
                                    {{#namesTournaments}}
                                    <span class="">{{name}}</span>
                                    <br>
                                    {{/namesTournaments}}
                                </p>
                                {{/is_in_tournament}}
                                <p class="number">Email</p>
                                <p class="name">{{email}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="canvas">
                                <ul style="display: none" id="stats">
                                    <li id="height">{{height}}</li>
                                    <li id="weight">{{weight}}</li>
                                    <li id="endurance">{{endurance}}</li>
                                    <li id="speed">{{speed}}</li>
                                    <li id="accuaracy">{{accuaracy}}</li>
                                    <li id="aceleration">{{aceleration}}</li>
                                    <li id="strenght">{{strenght}}</li>
                                    <li id="pace">{{pace}}</li>
                                </ul>
                                <canvas id="player-radar-graph"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--PLAYER INFO END-->


<section>
    {{> footer}}
</section>

<script type="text/javascript" src="/js/library/jquery.js"></script>
<script type="text/javascript" src="/js/library/jquery-ui.js"></script>
<script type="text/javascript" src="/js/library/bootstrap.js"></script>
<script type="text/javascript" src="/js/library/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/library/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/js/library/jcarousel.connected-carousels.js"></script>
<script type="text/javascript" src="/js/library/owl.carousel.js"></script>
<script type="text/javascript" src="/js/library/progressbar.js"></script>
<script type="text/javascript" src="/js/library/jquery.bracket.min.js"></script>
<script type="text/javascript" src="/js/library/chartist.js"></script>
<script type="text/javascript" src="/js/library/Chart.js"></script>
<script type="text/javascript" src="/js/library/fancySelect.js"></script>
<script type="text/javascript" src="/js/library/isotope.pkgd.js"></script>
<script type="text/javascript" src="/js/library/imagesloaded.pkgd.js"></script>

<script type="text/javascript" src="/js/jquery.team-coundown.js"></script>
<script type="text/javascript" src="/js/matches-slider.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/matches_broadcast_listing.js"></script>
<script type="text/javascript" src="/js/news-line.js"></script>
<script type="text/javascript" src="/js/match_galery.js"></script>
<script type="text/javascript" src="/js/main-club-gallery.js"></script>
<script type="text/javascript" src="/js/product-slider.js"></script>
<script type="text/javascript" src="/js/circle-bar.js"></script>
<script type="text/javascript" src="/js/standings.js"></script>
<script type="text/javascript" src="/js/shop-price-filter.js"></script>
<script type="text/javascript" src="/js/timeseries.js"></script>
<script type="text/javascript" src="/js/radar.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/preloader.js"></script>
<script type="text/javascript" src="/js/diagram.js"></script>
<script type="text/javascript" src="/js/bi-polar-diagram.js"></script>
<script type="text/javascript" src="/js/label-placement-diagram.js"></script>
<script type="text/javascript" src="/js/donut-chart.js"></script>
<script type="text/javascript" src="/js/animate-donut.js"></script>
<script type="text/javascript" src="/js/advanced-smil.js"></script>
<script type="text/javascript" src="/js/svg-path.js"></script>
<script type="text/javascript" src="/js/pick-circle.js"></script>
<script type="text/javascript" src="/js/horizontal-bar.js"></script>
<script type="text/javascript" src="/js/gauge-chart.js"></script>
<script type="text/javascript" src="/js/stacked-bar.js"></script>

<script type="text/javascript" src="/js/library/chartist-plugin-legend.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-threshold.js"></script>
<script type="text/javascript" src="/js/library/chartist-plugin-pointlabels.js"></script>

<script type="text/javascript" src="/js/treshold.js"></script>
<script type="text/javascript" src="/js/visible.js"></script>
<script type="text/javascript" src="/js/anchor.js"></script>
<script type="text/javascript" src="/js/landing_carousel.js"></script>
<script type="text/javascript" src="/js/landing_sport_standings.js"></script>
<script type="text/javascript" src="/js/twitterslider.js"></script>
<script type="text/javascript" src="/js/champions.js"></script>
<script type="text/javascript" src="/js/landing_mainnews_slider.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/video_slider.js"></script>
<script type="text/javascript" src="/js/footer_slides.js"></script>
<script type="text/javascript" src="/js/player_test.js"></script>

<script type="text/javascript" src="/js/main.js"></script>


<script type="text/javascript" src="/dev-assets/demo-switcher.js"></script>
</body>

</html>
