<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Team HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900"
          rel="stylesheet"/>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/css/library/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/preloader-default.css" rel="stylesheet" type="text/css"/>
    <link href="/dev-assets/demo-switcher.css" rel="stylesheet" type="text/css"/>
    <link href="/css-min/soccer.min.css" rel="stylesheet" type="text/css"/>


    <!--

    Enable one styles which the you want

    <link href="css-min/hockey.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/basketball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/football.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/baseball.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/dota.min.css" rel="stylesheet" type="text/css" />
    <link href="css-min/csgo.min.css" rel="stylesheet" type="text/css" />

    All libraries included in this css, concating rules in /grunt/cssmin.js
    Use grunt default task for creating this files

    -->
</head>

<body>

{{> preloadEffect}}


{{> menu}}

{{#teamInfo}}
<!--BREADCRUMBS BEGIN-->
<section class="image-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="index.html">Main</a>/</li>
                            <li>Team: {{teamName}}</li>
                        </ul>
                        <h1>Team: {{teamName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BREADCRUMBS END-->

<!--PLAYER SINGLE WRAP BEGIN-->

<section class="player-single-wrap">

    <!--PLAYER INFO BEGIN-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="captain-bage">Team</div>
                <h4 class="player-name">{{teamName}}</h4>
            </div>
            <div class="col-md-6">
                <div class="captain-bage">Members</div>
            </div>

            <div class="col-md-9">
                <div class="club-staff-top">
                    <div class="staff-box">
                        {{#players}}
                        <div class="col-md-6  col-sm-3 col-xs-6">
                            <a class="item" href="/player/{{id}}">
                                <span class="info">
                                    {{#user}}
                                    <span class="name">{{name}}</span>
                                    {{/user}}
                                    <span class="position">{{countryBirth}}</span>
                                    <span class="number">{{age}}</span>
                                </span>
                                <img alt="player" src="{{imageUrl}}">
                            </a>
                        </div>
                        {{/players}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--PLAYER INFO END-->

    <!--LAST MATCHES BEGIN-->
    <div class="container last-hockey-macthes">
        <div class="row">
            <h6>Last {{LAST_MATCHES_SHOWN}} matches played</h6>
            <div class="main-lates-matches">
                {{#lastMatches}}
                <a class="item" href="/match/{{id}}">
                    {{#winsTeamOne}}
                    <span class="teams-wrap">
                        <span class="teamwinner">
                            <span>{{nameTeamOne}}</span>
                        </span>
                        <span class="score"><span>{{gamesPerSetOne}}</span></span>
                    </span>
                    <span class="teams-wrap">
                        <span class="team">
                            <span>{{nameTeamTwo}}</span>
                        </span>
                        <span class="score"><span>{{gamesPerSetTwo}}</span></span>
                    </span>
                    {{/winsTeamOne}}

                    {{^winsTeamOne}}
                    <span class="teams-wrap">
                        <span class="team">
                            <span>{{nameTeamOne}}</span>
                        </span>
                        <span class="score"><span>{{gamesPerSetOne}}</span></span>
                    </span>
                    <span class="teams-wrap">
                        <span class="teamwinner">
                            <span>{{nameTeamTwo}}</span>
                        </span>
                        <span class="score"><span>{{gamesPerSetTwo}}</span></span>
                    </span>
                    {{/winsTeamOne}}
                </a>
                {{/lastMatches}}
            </div>
        </div>
    </div>
    </div>
    <!--LAST MATCHES END-->

    <!--PLAYER STATS BEGIN-->
    <section class="hockey-stats">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Detailed Team Statistics</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Games per match</h6>
                            <div class="canvas-minutes-big">
                                {{#statisticsDisplay}}
                                <ul id="games" style="display:none">
                                    <li id="gamesPerMatch">{{gamesPerMatch}}</li>
                                </ul>
                                {{/statisticsDisplay}}
                                <div class="ct-chart advancesmill" data-ready id="advancesmill"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>Stats</h6>
                            <div class="canvas-minutes-big horizontalbar">
                                {{#statisticsDisplay}}
                                <ul id="personalStats" style="display:none">
                                    <li id="meanAcurracy">{{meanAcurracy}}</li>
                                    <li id="meanEffectiveness">{{meanEffectiveness}}</li>
                                    <li id="meanUnforcedErrors">{{meanUnforcedErrors}}</li>
                                </ul>
                                {{/statisticsDisplay}}
                                <div class="ct-chart" id="horizontalbar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>W/L %</h6>
                        <div class="canvas-animatedonut">
                            {{#statisticsDisplay}}
                            <ul id="stats" style="display:none">
                                <li id="totalWins">{{totalWins}}</li>
                                <li id="totalDefeats">{{totalDefeats}}</li>
                            </ul>
                            {{/statisticsDisplay}}
                            <div class="ct-chart animatedonut" data-ready id="animatedonut"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PLAYER STATS END-->
</section>
<!--PLAYER SINGLE WRAP END-->
{{/teamInfo}}
<section>


    {{> footer}}
</section>
<script src="/js/library/jquery.js" type="text/javascript"></script>
<script src="/js/library/jquery-ui.js" type="text/javascript"></script>
<script src="/js/library/bootstrap.js" type="text/javascript"></script>
<script src="/js/library/jquery.sticky.js" type="text/javascript"></script>
<script src="/js/library/jquery.jcarousel.js" type="text/javascript"></script>
<script src="/js/library/jcarousel.connected-carousels.js" type="text/javascript"></script>
<script src="/js/library/owl.carousel.js" type="text/javascript"></script>
<script src="/js/library/progressbar.js" type="text/javascript"></script>
<script src="/js/library/jquery.bracket.min.js" type="text/javascript"></script>
<script src="/js/library/chartist.js" type="text/javascript"></script>
<script src="/js/library/Chart.js" type="text/javascript"></script>
<script src="/js/library/fancySelect.js" type="text/javascript"></script>
<script src="/js/library/isotope.pkgd.js" type="text/javascript"></script>
<script src="/js/library/imagesloaded.pkgd.js" type="text/javascript"></script>

<script src="/js/jquery.team-coundown.js" type="text/javascript"></script>
<script src="/js/matches-slider.js" type="text/javascript"></script>
<script src="/js/header.js" type="text/javascript"></script>
<script src="/js/matches_broadcast_listing.js" type="text/javascript"></script>
<script src="/js/news-line.js" type="text/javascript"></script>
<script src="/js/match_galery.js" type="text/javascript"></script>
<script src="/js/main-club-gallery.js" type="text/javascript"></script>
<script src="/js/product-slider.js" type="text/javascript"></script>
<script src="/js/circle-bar.js" type="text/javascript"></script>
<script src="/js/standings.js" type="text/javascript"></script>
<script src="/js/shop-price-filter.js" type="text/javascript"></script>
<script src="/js/timeseries.js" type="text/javascript"></script>
<script src="/js/radar.js" type="text/javascript"></script>
<script src="/js/slider.js" type="text/javascript"></script>
<script src="/js/preloader.js" type="text/javascript"></script>
<script src="/js/diagram.js" type="text/javascript"></script>
<script src="/js/bi-polar-diagram.js" type="text/javascript"></script>
<script src="/js/label-placement-diagram.js" type="text/javascript"></script>
<script src="/js/donut-chart.js" type="text/javascript"></script>
<script src="/js/animate-donut.js" type="text/javascript"></script>
<script src="/js/advanced-smil.js" type="text/javascript"></script>
<script src="/js/svg-path.js" type="text/javascript"></script>
<script src="/js/pick-circle.js" type="text/javascript"></script>
<script src="/js/horizontal-bar.js" type="text/javascript"></script>
<script src="/js/gauge-chart.js" type="text/javascript"></script>
<script src="/js/stacked-bar.js" type="text/javascript"></script>

<script src="/js/library/chartist-plugin-legend.js" type="text/javascript"></script>
<script src="/js/library/chartist-plugin-threshold.js" type="text/javascript"></script>
<script src="/js/library/chartist-plugin-pointlabels.js" type="text/javascript"></script>

<script src="/js/treshold.js" type="text/javascript"></script>
<script src="/js/visible.js" type="text/javascript"></script>
<script src="/js/anchor.js" type="text/javascript"></script>
<script src="/js/landing_carousel.js" type="text/javascript"></script>
<script src="/js/landing_sport_standings.js" type="text/javascript"></script>
<script src="/js/twitterslider.js" type="text/javascript"></script>
<script src="/js/champions.js" type="text/javascript"></script>
<script src="/js/landing_mainnews_slider.js" type="text/javascript"></script>
<script src="/js/carousel.js" type="text/javascript"></script>
<script src="/js/video_slider.js" type="text/javascript"></script>
<script src="/js/footer_slides.js" type="text/javascript"></script>
<script src="/js/player_test.js" type="text/javascript"></script>

<script src="/js/main.js" type="text/javascript"></script>


<script src="/dev-assets/demo-switcher.js" type="text/javascript"></script>
</body>

</html>
