<table>
  <tr>
    <th>Teams</th>
    <th>Games played</th>
    <th>Games won</th>
    <th>Games lost</th>
    <th class="last-matches-header" colspan="3">Last matches</th>
  </tr>
  <ng-container *ngFor="let team of getRanking()">
    <tr>
      <td class="text-center">{{team.name}}</td>
      <td class="center-text">{{team.gamesPlayed}}</td>
      <td class="center-text">{{team.gamesWon}}</td>
      <td class="center-text last-col">{{team.gamesLost}}</td>
      <td class="center-text">
        <ng-container *ngIf="team.hasLastMatches">
          <span *ngFor="let result of team.lastMatches; let i = index" [class.lose]="result == 'l'" [class.win]="result == 'w'"
                class="result">
            {{result}}
          </span>
        </ng-container>
        <span *ngIf="!team.hasLastMatches" class="no-games">
          This team has not play any match
        </span>
      </td>
    </tr>
  </ng-container>
</table>
