<nav class="navbar navbar-expand-lg navbar-dark " style="padding: 1em 25%; background:rgb(20, 20, 20)">
  <a class="navbar-brand"  [routerLink]="['']">
    <img src="./assets/coming-logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link item"  [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link item" [routerLink]="['/matches']">Matches</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link item" [routerLink]="['/teams']">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link item" [routerLink]="['/tournamen']">Ranking</a>
      </li>
      <li class="nav-item " *ngIf="!isAdmin()">
        <a class="nav-link item"  [routerLink]="['/tournament/register']">Registration Tournament</a>
      </li>
      <li class="nav-item" *ngIf="!islogged()">
        <a class="nav-link item" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item " *ngIf="!islogged()">
        <a class="nav-link item"  [routerLink]="['/signup']">Sign Up</a>
      </li>
      <li class="nav-item " *ngIf="isAdmin()">
        <a class="nav-link item" [routerLink]="['/admin']">Admin Page</a>
      </li>
      <li class="nav-item " *ngIf="islogged() && !isAdmin()">
        <a class="nav-link item" [routerLink]="['/player', getLogggedPlayerId()]">Mi profile</a>
      </li>
      <li class="nav-item " *ngIf="islogged()">
        <a class="nav-link item" [routerLink]="['/logout']">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
