<!--

<div *ngIf="player">
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Sign Up Player">
        <form #userForm="ngForm">

          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Age" [(ngModel)]="player.age" #userFormElement
                     #userFormControl="ngModel"
                     name="age"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Country" type="text" [(ngModel)]="player.countryBirth" #userFormElement
                   #userFormControl="ngModel"
                   name="country"
                   required>
          </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Height" type="text" [(ngModel)]="player.height" #userFormElement
                     #userFormControl="ngModel"
                     name="height"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Weight" type="text" [(ngModel)]="player.weight" #userFormElement
                     #userFormControl="ngModel"
                     name="weight"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Speed" type="text" [(ngModel)]="player.speed" #userFormElement
                     #userFormControl="ngModel"
                     name="speed"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Strength" type="text" [(ngModel)]="player.strength" #userFormElement
                     #userFormControl="ngModel"
                     name="strength"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Endurance" type="text" [(ngModel)]="player.endurance" #userFormElement
                     #userFormControl="ngModel"
                     name="endurance"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Pace" type="text" [(ngModel)]="player.pace" #userFormElement
                     #userFormControl="ngModel"
                     name="pace"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Accuaracy" type="text" [(ngModel)]="player.accuaracy" #userFormElement
                     #userFormControl="ngModel"
                     name="accuaracy"
                     required>
            </mat-form-field>
          </mat-card>
          <mat-card class="card" style="text-align: center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Aceleration" type="text" [(ngModel)]="player.aceleration" #userFormElement
                     #userFormControl="ngModel"
                     name="aceleration"
                     required>
            </mat-form-field>
          </mat-card>
        </form>
        <div  layout="row" style="text-align: center" class="enterLoginBotton">
          <button mat-raised-button color="primary" class="button" (click)="save()"  [disabled]="userForm === undefined || (userForm && !userForm.valid)">
            Registrar <mat-icon>assignment</mat-icon>
          </button>
          <button mat-raised-button class="button" color="accent" (click)="cancel()">Cancelar</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

-->
