<mat-card class="card" id="next-matches-card">
  <mat-card-header style="justify-content: center">
    <mat-card-title>Next Matches</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- The tournament doesn't come from the api when we ask for matches (PROBLEM) -->
    <table>
      <ng-container *ngFor="let NextMatch of getNextMatches(); let i = index">
        <ng-container *ngIf="i <= 3">
          <tr>
            <td class="center-text tournament" colspan="3">Tournament X</td>
          </tr>
          <tr>
            <td class="center-text team-name">{{NextMatch.teams[0].name}}</td>
            <td class="center-text vs-text">VS</td>
            <td class="center-text team-name">{{NextMatch.teams[1].name}}</td>
          </tr>
          <tr>
            <td class="center-text date" colspan="3">{{NextMatch.date | date : 'yyyy-MM-dd'}}</td>
          </tr>

        </ng-container>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>
