.sectionTitle {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase
}

.badge {
  margin-top: 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center
}

.black-border {
  border: black solid 1px !important;
}
.player-card{
  width: 75%;
}
.player-card:hover {
  box-shadow: 0 0 17px -6px #000 !important;
}

a:hover{
  text-decoration: none !important;
}


