<ng-container *ngIf="getTeam()">
  <div class="container">
    <div class="row">
      <span class="badge">Name</span>
      <h4> {{getTeam().name}}</h4>
    </div>
    <div clas ="row">
      <div class="col-md-6" *ngFor="let player of getTeam().players; let i = index">
        <span class="badge"> Member {{i+1}}</span>
        <mat-card class="player-card">
          <mat-card-header>
            <mat-card-title class="player-name">{{player.user.name}}</mat-card-title>
            <mat-card-subtitle>{{player.age}}, {{player.countryBirth}}</mat-card-subtitle>
          </mat-card-header>
          <app-images [idPlayer]="player.id"></app-images>
        </mat-card>
      </div>
    </div>

    <ng-container *ngIf="getLastMatches">
      <div class="row last-matches">
        <app-last-matches [lastMatches]="getLastMatches()"></app-last-matches>
      </div>
    </ng-container>

  </div>
</ng-container>
