.container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -1px;
  margin-left: -15px;
}

h4 {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 19px;
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #141414;
}

.badge {
  margin: 30px 20px 29px 0;
  padding: 10px;
  height: 26px;
  position: relative;
  vertical-align: top;
  line-height: 10px;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  color: #fcfcfc;
  font-family: Montserrat, sans-serif;
  background: #fc0;
  text-align: center;
}

