<p-card header="Match" *ngIf="getMatch()!=null" [style]="{width: '50%', textAlign:'center' }">
  <div class="container">
    <div class="row">
      <div class="col-sm" *ngFor="let Team of getMatch().teams">
        {{Team.name}}
      </div>
    </div>
  </div>


  <table class="table">
    <tbody>
    <tr>
      <th scope="col" *ngIf="getResult()[0] < getResult()[1]" style="background-color: red">{{getResult()[0]}}</th>
      <th scope="col" *ngIf="getResult()[0] > getResult()[1]" style="background-color: mediumseagreen">{{getResult()[0]}}</th>
      <th scope="col">:</th>
      <th scope="col" *ngIf="getResult()[0] > getResult()[1]" style="background-color: red">{{getResult()[1]}}</th>
      <th scope="col" *ngIf="getResult()[0] < getResult()[1]" style="background-color: mediumseagreen">{{getResult()[1]}}</th>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Team</th>
      <th scope="col">First</th>
      <th scope="col">Second</th>
      <th scope="col" *ngIf="getMatch().stadistics_1.sets.length==3">Third</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{getMatch().teams[0].name}}</th>
      <td *ngFor="let set of getMatch().stadistics_1.sets">{{set.games}}</td>
    </tr>
    <tr>
      <th scope="row">{{getMatch().teams[1].name}}</th>
      <td *ngFor="let set of getMatch().stadistics_2.sets">{{set.games}}</td>
    </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        Acurracy
        <p-progressBar [value]="getMatch().stadistics_1.acurracy"></p-progressBar>
      </div>
      <div class="col-sm">
        Acurracy
        <p-progressBar [value]="getMatch().stadistics_2.acurracy"></p-progressBar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Efectiveness
        <p-progressBar [value]="getMatch().stadistics_1.effectiveness"></p-progressBar>
      </div>
      <div class="col-sm">
        Efectiveness
        <p-progressBar [value]="getMatch().stadistics_2.effectiveness"></p-progressBar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Unforced Errors
        <p-progressBar [value]="getMatch().stadistics_1.unforcedErrors"></p-progressBar>
      </div>
      <div class="col-sm">
        Unforced Errors
        <p-progressBar [value]="getMatch().stadistics_2.unforcedErrors"></p-progressBar>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        Games Win
        <p-progressBar [value]="getMatch().stadistics_1.games_wins"></p-progressBar>
      </div>
      <div class="col-sm">
        Games Win
        <p-progressBar [value]="getMatch().stadistics_2.acurracy"></p-progressBar>
      </div>
    </div>

  </div>

</p-card>

<p-card header="Loading" *ngIf="getMatch()==null" [style]="{width: '500px', textAlign:'center'}">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</p-card>

<!--
<mat-card class="example-card">
  <mat-card-content>

    &lt;!&ndash; <mat-grid-list cols="1" rowHeight="50:1">
       <mat-grid-tile class="mat-card-sub" >
         Date {{getMatch().date}}
       </mat-grid-tile>
     </mat-grid-list>&ndash;&gt;

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let Team of getMatch().teams" class="teams-names">
        {{Team.name}}
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="6:1">
      <mat-grid-tile class="teams-names">
        {{getResult()[0]}}:{{getResult()[1]}}
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="6:1">
        <table>
          <tr>
            <td class="center-text tournament" colspan="6">Sets</td>
          </tr>
          <tr>
            <td class="center-text" colspan="2"
                [class.yellow-background]=getMatch().stadistics_1.win>{{getMatch().teams[0].name}}</td>
            <td class="center-text"></td>
            <td class="score">{{getMatch().stadistics_1.sets[0].games}}</td>
            <td class="score">{{getMatch().stadistics_1.sets[1].games}}</td>
            <td class="score">{{getMatch().stadistics_1.sets[2].games}}</td>
          </tr>
          <tr>
            <td class="center-text" colspan="2"
                [class.yellow-background]=getMatch().stadistics_2.win>{{getMatch().teams[1].name}}</td>
            <td class="center-text"></td>
            <td class="score">{{getMatch().stadistics_2.sets[0].games}}</td>
            <td class="score">{{getMatch().stadistics_2.sets[1].games}}</td>
            <td class="score">{{getMatch().stadistics_2.sets[2].games}}</td>
          </tr>
        </table>
    </mat-grid-list>


    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>
        Acurracy {{getMatch().stadistics_1.acurracy}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_1.acurracy}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Acurracy {{getMatch().stadistics_2.acurracy}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_2.acurracy}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Effectiveness {{getMatch().stadistics_1.effectiveness}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_1.effectiveness}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Effectiveness {{getMatch().stadistics_2.effectiveness}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_2.effectiveness}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Games Wins {{getMatch().stadistics_1.games_wins}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_1.games_wins}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Games Wins {{getMatch().stadistics_2.games_wins}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_2.games_wins}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Unforced Errors {{getMatch().stadistics_1.unforcedErrors}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_1.unforcedErrors}}"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile>
        Unforced Errors {{getMatch().stadistics_2.unforcedErrors}}%
        <mat-progress-bar mode="determinate" value="{{getMatch().stadistics_2.unforcedErrors}}"></mat-progress-bar>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>



-->
